* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #000000,#120b38,#000000);
  padding: 15px 10px 80px 10px;
  gap: 70px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.image-row img.Bitcoin-coin {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-row img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .image-row {
    gap: 20px; /* Reduce gap on smaller screens */
    padding-top: 50px; /* Add top padding */
  }

  .image-row img.Bitcoin-coin {
    width: 120px; /* Adjust image width */
    height: 200px; /* Adjust image height */
  }
}

@media (max-width: 480px) {
  .image-row {
    gap: 10px; /* Further reduce gap on very small screens */
    padding-top: 10px; /* Add top padding */
  }

  .image-row img.Bitcoin-coin {
    width: 100px; /* Adjust image width */
    height: 170px; /* Adjust image height */
  }
}

